{% extends 'base.html' %} {% block title %}Restaurants{% endblock %} {% block
content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cafe Name</th>
            <th scope="col">Location</th>
            <th scope="col">Image</th>
            <th scope="col">Coffee Price</th>
            <th scope="col">Seats</th>
            <th scope="col">Toilet Availability</th>
            <th scope="col">WiFi Availability</th>
            <th scope="col">Sockets Availability</th>
            <th scope="col">Call Taking</th>
            <th scope="col">Map Link</th>
          </tr>
        </thead>
        <tbody>
          {% for cafe in cafes %}
          <tr>
            <td>{{ cafe.name }}</td>
            <td>{{ cafe.location }}</td>
            <td>
              <img
                src="{{ cafe.img_url }}"
                alt="{{ cafe.name }}"
                style="width: 100px; height: auto"
                loading="lazy"
              />
            </td>
            <td>{{ cafe.amenities.coffee_price }}</td>
            <td>{{ cafe.amenities.seats }}</td>
            <td>{{ 'Yes' if cafe.amenities.has_toilet else 'No' }}</td>
            <td>{{ 'Yes' if cafe.amenities.has_wifi else 'No' }}</td>
            <td>{{ 'Yes' if cafe.amenities.has_sockets else 'No' }}</td>
            <td>{{ 'Yes' if cafe.amenities.can_take_calls else 'No' }}</td>
            <td><a href="{{ cafe.map_url }}" target="_blank">Maps Link</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><a href="/">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
