<h2>Projects</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas
  perferendis quia facere. Blanditiis officiis suscipit tempora doloribus vitae
  reprehenderit, quae pariatur laborum dolor aspernatur ea sit rem mollitia?
  Blanditiis optio porro iste odit ratione minus delectus facilis molestiae
  eligendi omnis quia ducimus fugit dolor possimus, earum consequatur maiores
  praesentium!
</p>
<div class="projects">
  <div class="project">
    <h3>3D Background Boxes</h3>
    <img src="{{url_for("static", filename="3d-background-boxes1.png")}}"
    alt="background slider screenshot" />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum,
      dolorum. Laboriosam, numquam quam? Dolores deserunt saepe provident,
      placeat, officiis voluptatem iste laborum cupiditate delectus ad omnis
      illum nobis repudiandae, amet dignissimos. Officiis, deleniti doloribus
      laborum adipisci magnam ratione exercitationem nesciunt vel veniam nostrum
      quod voluptatem assumenda minus similique architecto labore?
    </p>
  </div>
  <div class="project">
    <h3>Animated Navigation</h3>
    <img src="{{url_for("static", filename="animated-navigation1.png")}}"
    alt="background slider screenshot" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sit
      cumque officiis odio suscipit dicta, modi nisi doloremque fugiat totam
      amet vero, maxime ratione, et reiciendis necessitatibus soluta animi
      similique labore aut omnis? Veritatis repellendus officiis, aspernatur
      dolore ullam vitae delectus commodi, fugiat enim totam dolorum, impedit
      est sunt reprehenderit.
    </p>
  </div>
  <div class="project">
    <h3>Background Slider</h3>
    <img src="{{url_for("static", filename="background-slider1.png")}}"
    alt="background slider screenshot" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id expedita ex
      reprehenderit iusto nemo numquam sapiente adipisci quasi quisquam alias
      sunt sit esse voluptates placeat pariatur libero aliquam natus eos dicta
      quia assumenda, facere inventore blanditiis hic. Tempore laudantium cumque
      nobis veritatis. Velit delectus doloribus aliquam temporibus iure!
      Aspernatur, possimus.
    </p>
  </div>
</div>
