@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

img {
  border: 5px solid #fff;
}

h1 {
  font-family: "Libre Baskerville", sans-serif;
}
