{% extends 'base.html' %} {% block title %}Restaurants{% endblock %} {% block
content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
      <table class="table">
        <thead>
          <tr>
            {% for header in headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            {% for cell in row %} {% set cell_content = cell %} {% if loop.index
            == 2 and cell.startswith('http') %} {% set cell_content = '<a
              href="%s"
              target="_blank"
              >Maps Link</a
            >'|format(cell) %} {% elif loop.index == 3 or loop.index == 4 %} {%
            if ':' not in cell %} {% set cell_content = cell|replace('AM',
            ':00AM') %} {% set cell_content = cell_content|replace('PM',
            ':00PM') %} {% endif %} {% endif %}

            <td>{{ cell_content|safe }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><a href="/">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
